 body {
     font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
      background-color: #f8f9fa;
    }

    .drop-down-avatar{
        background-color: #f8f9fa !important;
        width: 40px; height: 40px; 
        /* background-color: #e0e0e0;  */
        border-radius: 50%; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    .sidebar {
      height: 100vh;
      position: fixed;
      top: 10 !important;
      left: 0;
      width: 240px;
      background-color: #ffffff;
      border-right: 1px solid #dee2e6;
      padding-top: 60px;
      z-index: 1030;
    }

    main {
      margin-left: 240px;
      padding: 2rem;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1040;
    }

    .nav-item , .nav-link{
        font-size:15px !important
    }
    .dropdown-menu , .dropdown-item{
        font-size:14px !important

    }
    .nav-link:hover{
        color: #5c8dcc !important;
    }
    .active{
        color: #5c8dcc !important;
    }
    @media (max-width: 991.98px) {
      .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 5rem !important;
        border-right: none;
        border-bottom: 1px solid #e6e4de;
      }

      main {
        margin-left: 0;
        margin-top: 100px;
        padding: 1rem;
      }
    }

    /* instructor course creation page */


    .course-label{
      font-size:14px !important;
      color: black !important;
      
    }

    .brand-color{
      background-color: #0d6efd !important;
    }